<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Admin : Add</title>
    <link rel="stylesheet" href="" th:href="@{/css/Add_Admin.css}" />
</head>

<body>
<a href="/admin/services">Back to Services</a>
<div class="addAdmin">
    <h3 style="color: red;">ADD NEW ADMIN/PARTNER</h3>
    <form action="" th:action="@{/addingAdmin}" method="post">
        <label for="name">Admin_Name :</label>
        <input type="text" name="uname" />
        <label for="email" />Admin_Email :
        <input type="email" name="uemail" />
        <label for="telephone">Admin_Number :</label>
        <!--        <input type="tel" name="unumber" pattern="[0-9]{10}"/>-->
        <input type="number" name="unumber"/>
        <label for="password">Admin_Pasword :</label>
        <input type="text" name="upassword"/>
        <label for="cpassword">Confirm Password</label>
        <input name="cpassword" type="password">
    </form>
    <button type="submit">add Admin</button>
</div>
</body>

</html>