<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="" th:href="@{/css/Update_Admin.css}" />
</head>
<body>
<a href="/admin/services">Back to Services</a>
<div class="updateAdmin">
    <h3 style="color: red;">UPDATE EXISTING ADMIN / PARTNER DETAILS</h3>
    <form  action=""  th:action="@{'/updatingAdmin/'+${admin.id}}" method="post" th:object="${user}">

        <input  type="hidden" name="uid" th:value="${admin.id}"/><br />
        Admin_Name :
        <input type="text" name="uname" th:value="${admin.uname}"/>
        Admin_Email :
        <input type="email" name="uemail" th:value="${admin.uemail}"  />
        User_Number :
        <input type="number" name="unumber" th:value="${admin.unumber}"/>

        Admin_Role:
        <input type="text" readonly name="role" th:value="${admin.role}"/>


        <button type="submit">Update_Admin</button>
    </form>
</div>
</body>
</html>